*.iml
.gradle
/local.properties
.idea/
.vscode/
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
local.properties
.kotlin/

# Firebase & Secrets
app/google-services.json
*.jks
*.keystore

# JVM/Crash Logs
hs_err_pid*
replay_pid*

# Internal Development Notes
.dev-notes/

# Node.js dependencies
node_modules/
